<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CurrentOrders.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CurrentOrders.Client.Properties.Settings>
            <setting name="CurrentOrders_Client_LogicWebService_ITGLogicWebService"
                serializeAs="String">
                <value>https://logic.itginc.com/services/CalculationService_v3_0</value>
            </setting>
        </CurrentOrders.Client.Properties.Settings>
    </applicationSettings>
</configuration>